examples/data/MTBLS289/**/*.ibd filter=lfs diff=lfs merge=lfs -text
examples/data/MTBLS289/**/*.imzML filter=lfs diff=lfs merge=lfs -text
examples/data/MTBLS289/**/*.ndpi filter=lfs diff=lfs merge=lfs -text
